<div class="ui-g-12" style="text-align: center">
    <p-panel header="Xabe.PizzaCalculator" [style]="{'width': '500px'}">
        <div *ngFor="let pizza of pizzas">
            <pizza [value]="pizza" (pizzaRemove)="onPizzaRemove($event)"></pizza>
        </div>
    </p-panel>
</div>

<div class="ui-g-12" style="text-align: center">
    <button pButton type="button" label="Policz" (click)="recalc()"></button>
    <button pButton type="button" icon="fa fa-plus" (click)="newPizza()"></button>
</div>