<div class="ui-g-12" class="center">
    <p-panel header="Xabe.PizzaCalculator">
        <!-- style="background-color: lightgrey" -->
        <div *ngFor="let pizza of pizzas;  let i = index" [attr.data-index]="i">
            <div class="ui-g ui-fluid">
                <pizza *ngIf="i%2==1" [value]="pizza" style="background-color: lightgray" (pizzaRemove)="onPizzaRemove($event)"></pizza>
            </div>
            <div class="ui-g ui-fluid">
                <pizza *ngIf="i%2==0" [value]="pizza" style="background-color: white" (pizzaRemove)="onPizzaRemove($event)"></pizza>
            </div>
        </div>
    </p-panel>
</div>

<div class="ui-g-12" class="center">
    <button pButton type="button" label="Policz" (click)="recalc()"></button>
    <button pButton type="button" icon="fa fa-plus" (click)="newPizza()"></button>
</div>