<div class="ui-g-12" class="center">
    <p-panel header="Xabe.PizzaCalculator">
        <!-- style="background-color: lightgrey" -->
        <div *ngFor="let pizza of pizzas;  let i = index" [attr.data-index]="i">
            <div class="ui-g ui-fluid">
                <pizza [value]="pizza" [style.background-color]="i%2 == 1 ? '#f2f2f2' : '#e6e6e6'" style="background-color: #f2f2f2" (onPizzaDeleteClick)="onPizzaDeleteClick($event)"
                    (onValueChanged)="onValueChanged($event)"></pizza>
            </div>
        </div>
    </p-panel>
</div>

<div class="ui-g-12" class="center">
    <button pButton type="button" icon="fa fa-plus" (click)="newPizza()"></button>
</div>