<div class="ui-g">
    <div class="ui-g-6 center">
        <p-lightbox *ngIf="value.pizzaType==1" [images]="roundPizzaImage"></p-lightbox>
        <p-lightbox *ngIf="value.pizzaType==2" [images]="squarePizzaImage"></p-lightbox>
    </div>

    <div class="ui-g-4 ui-g-nopad">
        <div class="ui-g">
            <p-dropdown [options]="pizzaTypes" [(ngModel)]="value.pizzaType" autoWidth="false"></p-dropdown>
        </div>
        <div class="ui-g">
            <input *ngIf="value.pizzaType==1" type="text" pInputText [(ngModel)]="value.diameter" placeholder="Średnica" />
            <input *ngIf="value.pizzaType==2" type="text" pInputText [(ngModel)]="value.width" placeholder="Szerokość" />
        </div>
        <div class="ui-g" *ngIf="value.pizzaType==2">
            <input type="text" pInputText [(ngModel)]="value.height" placeholder="Wysokość" />
        </div>
        <div class="ui-g">
            <input type="text" pInputText [(ngModel)]="value.price" placeholder="Cena" />
        </div>
    </div>

    <div class="ui-g-2 center">
        <button pButton type="button" icon="fa fa-minus" (click)="removePizza()"></button>
    </div>

    <div class="ui-g-12">
        <div class="ui-grid-row" style="text-align: center">
            <p>{{value.message}}</p>
        </div>
    </div>
</div>